:root {
    --unigrade-color:#26a6ce;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-image: url("../pictures/index_back.jpeg");
}
